/* reset and common styles */
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
    font-weight: 400;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

html{
    font-size: 62.5%;
}
/* End of reset and common styles */

/* section-1 */
   
/* End of section-1 */